.logo {
	margin: 0;
	width: 30px;
}

.logoText {
	margin: 0;
	width: 80px;
}

.HLogoDiv {
	height: max-content;
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
