.button {
	font-size: 1.2rem;
	border: #ccb3e4 solid 2px;
	background-color: #8a2be2;
	border-radius: 26px;
	padding: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-weight: bold;
	cursor: pointer;
}

.button:hover {
	background-color: #9f53e6;	
}

.buttonConnect {
	padding: 15px 22px;
}
