.modDiv {
	max-width: 700px;
	margin: 30px 20px;
	border-radius: 15px;
	border: #353538 solid 2px;
	overflow: hidden;
}

.infoBox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 10px;
}

.btDiv {
	display: flex;
	justify-content: end;
	align-items: center;
	margin: 15px;
}

.spectraBt {
	margin: 30px;
	display: flex;
	justify-content: center;
}

.addUserDiv {
	margin: 15px;
	display: flex;
	justify-content: space-between;
	justify-items: center;
	gap: 20px;
}

