
@media (min-width: 800px) {
	.mainSectionDashboard {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.modDiv {
		min-width: 700px;
	}

	.btDiv {
		min-width: 700px;
	}

}

.modDiv {
	max-width: 700px;
	margin: 30px 20px;
	border-radius: 15px;
	border: #353538 solid 2px;
	overflow: hidden;
	padding-bottom: 10px;
}

.infoBox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 10px;
}

.btDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 15px 15px 15px;
}

.btDiv > .button {
	max-width: 600px;
	width: 100%;
}

.spectraBt {
	margin: 30px;
	display: flex;
	justify-content: center;
}

.addUserDiv {
	margin: 15px 15px;
	display: flex;
	justify-content: space-between;
	justify-items: center;
	gap: 20px;
}

.statusSaved {
	min-height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.saving {
	color: white;
}

.saved {
	color: greenyellow;
}

.userNotFound {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
