.userContainer {
	width: 100%;
	margin: 0 0 0.6rem 0;
	padding: 0.6rem 0 0 0.5rem;
	border-top: 1px solid #36363b;
	display: flex;
}

.userLink {
	display: flex;
	justify-items: center;
	align-items: center;
	gap: 0.5rem;
	text-decoration: none;
}

.userImg {
	width: 26px;
	border-radius: 50%;
}

.userTextTwicth {
	color: #BE93FE;
}