@media (min-width: 800px) {
	.mainSection {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.modDiv {
		min-width: 500px;
	}
}

.modDiv {
	max-width: 700px;
	margin: 30px 20px;
	border-radius: 15px;
	border: #353538 solid 2px;
	overflow: hidden;
}
