.updateDiv {
	background-color: #1F1F23;
	border-radius: 15px;
	border: #353538 solid 2px;
	padding: 8px 20px;
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.updateTitle {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px 20px;
	gap: 20px;
	border-top: #353538 solid 2px;
}

.info > p {
	font-size: 0.9rem;
}

ul {
	list-style: disc;
	padding-left: 40px;
	font-size: 0.9rem;
}

li {
	margin: 1em 0;
}
