.main {
	font-size: 1.1rem;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.title {
	margin: 0 20px;
}

.text {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin: 20px;
}

.input {
	width: 80%;
	margin: 8px 0 8px 0;
	padding: 13px;
	border-radius: 22px;
	border: #d7cfdf solid 2px;
	background-color: #353538;
}

.loginBlock {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.errorBlock {
	text-align: center;
	color: red;
}

.addRemLogin {
	background-color: #353538;
	padding: 12px;
	border-radius: 20px;
}