.icon {
	margin: auto;
	background-color: #00418b;
	padding: 10px 25px;
	border-radius: 45% 0;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

.logo {
	width: 150px;
}