.mainContact {
	width: max-content;
	background-color: #1F1F23;
	border-radius: 15px;
	border: #353538 solid 2px;
	display: flex;
	flex-direction: column;
}

.dev {
	cursor: pointer;
	padding: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 0.8rem;
}

.infoContact {
	margin: 0 8px;
	padding: 10px;
	border-top: #353538 solid 2px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 0.8rem;
}

p {
	display: flex;
	gap: 10px;
}

.contacts {
	width: max-content;
	display: flex;
	align-items: center;
	gap: 5px;
}