.main {
	font-size: 1.1rem;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.icon {
	background-color: #8a2be2;
	padding: 20px;
	border-radius: 20px 0;
}

.text {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin: 12px;
}

.input {
	width: 80%;
	margin: 8px 0 8px 0;
	padding: 13px;
	border-radius: 22px;
	border: #d7cfdf solid 2px;
	background-color: #353538;
}

.loginBlock {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.errorBlock {
	text-align: center;
	color: red;
}

.buttonConnect {
	font-size: 1.2rem;
	border: #ccb3e4 solid 2px;
	background-color: #8a2be2;
	border-radius: 26px;
	padding: 15px 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-weight: bold;
	cursor: pointer;
}

.buttonConnect:hover {
	background-color: #9f53e6;	
}

.addRemLogin {
	background-color: #353538;
	padding: 12px;
	border-radius: 20px;
}