.base {
	gap: 5px;
	display: block;
}

.H1 {
	font-size: 1.1rem;
}

.countHeader {
	display: flex;
	gap: 0.5rem;
	padding: 0.2rem;
	background-color: #1F1F23;
}

.mainSection {
	margin: 1.8rem 2.3rem;
	display: flex;
	flex-direction: column;
	gap: 1.3rem;
}

.userSection {
	background-color: aliceblue;
}