.user {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 17px;
	border-top: #1F1F23 solid 2px;
}

.removeBt {
	border: none;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}