.mainDiv {
	font-size: 1.1rem;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.logoTitle {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
